<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Basic_App</title>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/android-chrome-512x512.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body><main class="page contact-page">
    <section class="portfolio-block contact" style="background: #080808;color: rgb(255,255,255);">
        <div class="container">
            <!--
VIEW IN FULL SCREEN MODE
FULL SCREEN MODE: http://salehriaz.com/404Page/404.html

DRIBBBLE: https://dribbble.com/shots/4330167-404-Page-Lost-In-Space
-->

<body class="bg-purple">

  <div class="stars">
    <div class="central-body">
      <img class="image-404" src="assets/img/muppers/404.svg" width="300px">
        <a href="index" class="btn-go-home">BACK TO HOME</a>
    </div>
    <div class="objects">
      <img class="object_rocket" src="assets/img/muppers/rocket.svg" width="40px">
      <div class="earth-moon">
        <img class="object_earth" src="assets/img/muppers/earth.svg" width="100px">
        <img class="object_moon" src="assets/img/muppers/moon.svg" width="80px">
      </div>
      <div class="box_astronaut">
        <img class="object_astronaut" src="assets/img/muppers/astronaut.svg" width="140px">
      </div>
    </div>
    <div class="glowing_stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>

    </div>

  </div>

</body>
        </div>
    </section>
</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
</body>

</html>